.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0%;
}

#name,
#title {
    text-align: center;
    margin: 0%;
    padding: 1% 0%;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0%;
    width: 65%;
}

#ic {
    width: 60px;
    height: 60px;
}

@media only screen and (min-width: 992px) {
    .social-media {
        width: 30%;
    }
}